body {
    background-color: #DCF5F5;
    background-image: url("./cross.png");
    font-family: 'Noto Serif', serif;
}

hr {
    border-top: 1px solid #CFDFE4;
}

h1 {
    font-family: 'Raleway', sans-serif;
}

h2 {
    text-align: left;
    font-family: 'Raleway', sans-serif;
}

h3 {
    color: rgba(0, 0, 139, 0.8);
}

h4 {
    font-family: 'Raleway', sans-serif;
    text-decoration: underline;
    font-weight: normal;
    font-style: italic;
}

a[href] {
    color: darkgreen;
}

del {
    color: grey;
}

pre {
    font-family: monospace;
}

.transparent-text {
    color: rgba(0, 0, 0, 0.5);
}

mark {
    color: darkblue;
    background-color: pink;
}

#content {
    background-color: white;
    border: solid darkgrey;
    border-radius: 8px;
    padding: 1em;
}

span.blue {
    color: blue;
}

span.fancy {
    font-family: cursive;
}

span.red-border {
    border: 1px solid red;
}

span.red-outline {

    outline: 1px solid red;
}

#redborder {
    border: 1px solid red;
}

#blueborder {
    border: 1px solid blue;
}

#redborder-r8 {
    border: 1px solid red;
    border-radius: 8px 8px 0px 0px;

    border-bottom: hidden;
}

#blueborder-r8 {
    border: 1px solid blue;
    border-radius: 0px 0px 8px 8px;
}

#yellow1 {
    background-color: yellow;
    margin: 10px 20px;
    text-align: right;
    padding: 12px;
    width: 676px;
    height: 176px;
    outline: 1px solid red;
}

#blue1 {
    background-color: blue;
    outline: 1px solid red;
    border: solid;

}

#yellow2 {
    background-color: yellow;
    text-align: right;
    outline: 1px solid red;
    padding: 12px;
    width: 376px;
    height: 376px;
    margin: auto;
}

#blue2 {
    background-color: blue;
    outline: 1px solid red;
    margin-top: 20px;
}

#multi-line {
    font-family: 'Raleway', sans-serif;
    color: dimgrey;
    line-height: 1.5;
    word-spacing: 0.2em;
    text-align: justify;
}

#BFCFD4 {
    color: #BFCFD4;
    text-align: center;
}

ul.square {
    list-style-type: square;
}

ol.roman {
    list-style-type: lower-roman;
}

ul.bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: darkgrey;
    overflow: hidden;
}

.bar li a {
    color: white;
    display: inline;
    float: left;
    display: block;
    padding: 10px;

}

li a:hover {
    color: darkgrey;
    background-color: white;
}