body {
    background-color: #DCF5F5;
    background-image: url("./cross.png");
}

h1 {
    font-family: sans-serif;
}

h2 {
    text-align: left;
    font-family: sans-serif;
}

h3 {
    color: rgba(0,0,139,0.8);
}

p {
    font-family: serif;
}

a[href] {
    color: darkgreen;
}

del {
    color: grey;
}

pre {
    font-family: monospace;
}

.transparent-text {
    color:rgba(0,0,0,0.5);
}

mark {
    color: darkblue;
    background-color: pink;
}

#content {
    background-color: white;
    border-color: darkgray;
    border-radius: 8px;
}

span.blue {
    color: blue;
}

span.fancy {
    font-family: cursive;
}

span.redborder {
    border: 1px solid red;
}

span.red-outline {

    outline: 1px solid red;
}

#redborder {
    border: 1px solid red;
}

#blueborder{
    border:1px solid blue;
}

#redborder-r8 {
    border: 1px solid red;
    border-radius: 8px 8px 0px 0px;

    border-bottom: hidden;
}

#blueborder-r8 {
    border: 1px solid blue;
    border-radius: 0px 0px 8px 8px;
}